@model Aviator.Models.Billing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightId.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightId.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberId.MemberRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberId.MemberRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
