@model Aviator.Models.PostFlightViewModel

<h2>Post-Flight</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <h4>Complete after landing.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.postModel.EndingEngineHours, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postModel.EndingEngineHours, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postModel.EndingHobbsHours, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postModel.EndingHobbsHours, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.postModel.Squawks, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postModel.Squawks, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.postModel.SplitTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.postModel.SplitTime, true, new { @Id = "Yes" })
            <label for="Yes">Yes</label>
            @Html.RadioButtonFor(m => m.postModel.SplitTime, false, new { @Id = "No" })
            <label for="No">No</label>
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.postModel.SplitTimePilotId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.postModel.SplitTimePilotId, Model.AvailablePilots, " ----- Select Pilot -----", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}