@model Aviator.Models.Invoice
@{
    ViewBag.Title = "Invoice";
}

<h2>Monthly Invoice</h2>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()


    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.HourlyFlightRate, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.DisplayFor(m => m.HourlyFlightRate, new { @class = "form-control" })
                </div>
            </div>
        </div>
            <br />
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.HoursFlown, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.HoursFlown, new { @class = "form-control" })
                    </div>
                </div>
            </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.HoursBilled, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            <strong>
                            @Html.DisplayFor(m => m.HoursBilled, new { @class = "form-control" })
                                </strong>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.MonthlyDues, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            @Html.DisplayFor(m => m.MonthlyDues, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <br />
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TotalAmountOwed, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                <strong>
                                @Html.DisplayFor(m => m.TotalAmountOwed, new { @class = "form-control" })
                                    </strong>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />

    var total = @Html.Raw(Json.Encode(Model.TotalAmountOwed));
    var totalInCents = @Html.Raw(Json.Encode(Model.TotalAmountOwed * 100));

                        <form action="/Payment/Charge" method="POST">
                            <article>
                                <label>Amount: $@total</label>
                            </article>
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@ViewBag.StripePublishKey"
                                    data-locale="auto"
                                    data-description="Sample Charge"
                                    data-amount=@totalInCents>
                            </script>
                        </form>


}
